<div class="container container-fluid">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 transparent-bg">
            <h1 class="text-center"> Before we get started, please select a category!</h1>
            <br><br>
            <%= form_tag("/meetings/new/form", :method => "get", id: 'ft-sz-18') do %>
                    <%= render 'layouts/messages' %>
                    <div class="form-group">
                        <%= label_tag :category %>
                        <%= select_tag(:category_id, options_for_select(@categories.map {|category| category.name}), { class: 'form-control ft-sz-18' }) %><br>
                    </div>
                    <%= submit_tag("Next", class: 'btn btn-block button-color btn-lg ft-sz-18')%>
            <% end %>
        </div>
    </div>
</div>