<html>
    <body>
        <%# <h1 style="text-align:center"> Welcome to Coterie </h1> %>
        <div style="text-align:center;">
            <img src="https://res.cloudinary.com/elronia/image/upload/v1618006920/Coterie/AdobeStock_214482847_Hi_Res_jypfpy.jpg" style="width: 100%;"></img>
        </div>
            
        <div class="col-md-8 col-md-offset-2" style="padding: 50px 0px; margin-bottom: 100px;">
            <h2>🔎 Browse Popular Categories  </h2>
            <div class="row flex" style="width: 100%; height: 200px;">
                <%= link_to category_path(1) do %>
                    <div class="col-md-3 box-container">
                        <div class="box art">
                            <span>Arts & Culture</span>
                        </div>
                    </div>
                <% end %>
                <%= link_to category_path(2) do %>
                    <div class="col-md-3 box-container">
                        <div class="box book">
                            <span>Book Clubs</span>
                        </div>
                    </div>
                <% end %>
                <%= link_to category_path(3) do %>
                    <div class="col-md-3 box-container">
                        <div class="box career">
                            <span>Career & Business</span>
                        </div>
                    </div>
                <% end %>
                <%= link_to category_path(4) do %>
                    <div class="col-md-3 box-container">
                        <div class="box education">
                            <span>Education & Learning</span>
                        </div>
                    </div>
                <% end %>
            </div>
            <div class="row flex" style="width: 100%; height: 200px;">
                <%= link_to category_path(5) do %>
                    <div class="col-md-3 box-container">
                        <div class="box fashion">
                            <span>Fashion & Beauty</span>
                        </div>
                    </div>
                <% end %>
                <%= link_to category_path(6) do %>
                    <div class="col-md-3 box-container">
                        <div class="box food">
                            <span>Food & Drink</span>
                        </div>
                    </div>
                <% end %>
                <%= link_to category_path(7) do %>
                    <div class="col-md-3 box-container">
                        <div class="box game">
                            <span>Games</span>
                        </div>
                    </div>
                <% end %>
                <%= link_to category_path(8) do %>
                    <div class="col-md-3 box-container">
                        <div class="box health">
                            <span>Health & Wellbeing</span>
                        </div>
                    </div>
                <% end %>
            </div>
            <div class="row flex" style="width: 100%; height: 200px;">
                <%= link_to category_path(9) do %>
                    <div class="col-md-3 box-container">
                        <div class="box hobbie">
                            <span>Hobbies & Crafts</span>
                        </div>
                    </div>
                <% end %>
                <%= link_to category_path(10) do %>
                    <div class="col-md-3 box-container">
                        <div class="box lgbt">
                            <span>LGBT</span>
                        </div>
                    </div>
                <% end %>
                <%= link_to category_path(11) do %>
                    <div class="col-md-3 box-container">
                        <div class="box language">
                            <span>Lang & Ethnic Identity</span>
                        </div>
                    </div>
                <% end %>
                <%= link_to category_path(12) do %>
                    <div class="col-md-3 box-container">
                        <div class="box politics">
                            <span>Movements & Politics</span>
                        </div>
                    </div>
                <% end %>
            </div>
            <div class="row flex" style="width: 100%; height: 200px;">
                <%= link_to category_path(13) do %>
                    <div class="col-md-3 box-container">
                        <div class="box movie">
                            <span>Movies & Film</span>
                        </div>
                    </div>
                <% end %>
                <%= link_to category_path(14) do %>
                    <div class="col-md-3 box-container">
                        <div class="box music">
                            <span>Music</span>
                        </div>
                    </div>
                <% end %>
                <%= link_to category_path(15) do %>
                    <div class="col-md-3 box-container">
                        <div class="box outdoor">
                            <span>Outdoor Adventure</span>
                        </div>
                    </div>
                <% end %>
                <%= link_to category_path(16) do %>
                    <div class="col-md-3 box-container">
                        <div class="box parent">
                            <span>Parents & Family</span>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
        
        <!-- <% unless @current_user %>
        <div class="btn-group">
            <%= link_to "<button>Login</button>".html_safe, '/login' %><br>
            <br>
            <%= link_to "<button>Signup</button>".html_safe, '/signup' %>
        </div>
        <% end %>

        <% if @current_user %>
            <%= link_to "<button>Manage Profile</button>".html_safe, user_path(@current_user) %>
        <% end %> -->

    </body>
</html>